
container {
  font-family: 'Sriracha'cursive;
  color:red;
  font-size: 100px;
}

h1 {
  font-family: 'Sofia'sans-serif;
  color: blue;
}

h2 {
  font-family: 'Sriracha'sans-serif;
  color: orange
}

h3 {
  font-family: 'Salsa'sans-serif;
  color: greenyellow
}