@charset "UFT-8";
/* font-family: 'Salsa', Sofia; */
body, html {
  padding: 0;
  margin: 0;
}

.body{
  font-family: 'Anton', sans-serif;
}

a, a:hover {
  text-decoration: none;
}

.container-fluid {
  padding: 0;
}

/* header */

.header {
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff; 
    height: 120px;
    line-height: 120px;   
}


.logo {
  color: #fcc500;
  font-family: 'Anton';
  text-transform: capitalize;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 1px;
}


.menu {
  float: right;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'Salsa', sans-serif;
  font-size-adjust: 30px;
}

.menu a {
  color: #fcc500;
  margin-right: 10px;
}

.menu a:hover {
  color:#00dffc;
}

/* bannière */

.banner {
  width: 100%;
  max-width: 100%;
  border: none;
}

.ban {
  width: 100%;
  max-width: 100%;
  position: relative;
  
  
}



.ban img {
  width: 100%;
  max-width: 100%;
background-position: 100px 50px;
}


.inner-banner {
  position: absolute;
  top: 80%;
  width: 100%;
  text-align: center;
}

.inner-banner h1 {
  color : #FC427B;
  font-family:'Sofia';
  font-weight: bolder;
  letter-spacing: 1px;
  text-shadow: 1px 1px 20 px #000000;
  font-size: 50px;
  text-align: center;
}

.inner-banner .btn-custom {
  background-color: #00dffc;
  color:black;
  font-family: 'Sofia';
}

.inner-banner .btn-custom:hover {
  background-color:cornsilk; 
}


/* à propos */
.about {
  font-family: 'Sofia';
}

/* footer */
